<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- Use title from front matter -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <!-- Link to your external CSS file -->
  </head>
  <body>
    <div id="mw-head">
      <div id="cpp-head-first-base">
        <div id="cpp-head-first">
          <h5>
            <a href="/">containerofuniqueentries.github.io</a>
          </h5>
        </div>
      </div>
      <div id="cpp-head-second-base">
        <div id="cpp-head-second">
          <div id="cpp-head-tools-left">
            <div class="vectorTabs">
              <ul class="tab-container">
                <li class="tab-item {% if page.url == '/' %}active{% endif %}">
                  <span>
                    <a href="/">Page</a>
                  </span>
                </li>
                <li
                  class="tab-item {% if page.url == '/_docs/deque_of_unique/index.html' %}active{% endif %}"
                >
                  <span>
                    <a href="./_docs/deque_of_unique/index.html">deque_of_unique</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="cpp-content-base">
      <div id="content">
        <div id="bodyContent">
          {{ content }}
          <!-- This will render the content from index.md -->
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <div id="cpp-footer-base">
      <div id="footer">
        <p>&copy; 2024 Container of Unique Entries. All rights reserved.</p>
        <p>
          <a href="/privacy-policy">Privacy Policy</a> |
          <a href="/terms-of-service">Terms of Service</a>
        </p>
      </div>
    </div>
  </body>
</html>
